.DS_Store
.gradle/5.4.1/executionHistory/executionHistory.bin
.gradle/5.4.1/executionHistory/executionHistory.lock
.gradle/5.4.1/fileHashes/fileHashes.bin
.gradle/5.4.1/fileHashes/fileHashes.lock
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.idea/caches/build_file_checksums.ser
.idea/caches/gradle_models.ser
.idea/gradle.xml
.idea/libraries/Gradle__com_google_code_gson_gson_2_7_jar.xml
.idea/libraries/Gradle__com_squareup_okhttp3_okhttp_3_3_0_jar.xml
.idea/libraries/Gradle__com_squareup_okio_okio_1_8_0_jar.xml
.idea/libraries/Gradle__com_squareup_retrofit2_converter_gson_2_1_0_jar.xml
.idea/libraries/Gradle__com_squareup_retrofit2_retrofit_2_1_0_jar.xml
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml
app/app.iml
