.layout {
  background: #43cea2; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #185a9d,
    #43cea2
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #185a9d,
    #43cea2
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.content {
  padding: 0 50px;
  height: 85vh;
  width: 100vw;
}
.logo {
  height: 3em;
  margin-left: 2em;
  transition: all 0.3s ease-in-out;
}

.logo:focus {
  transform: scale(1.05);
}
