<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.quince">

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">

        <activity android:name=".Pages.araba2"
        android:parentActivityName=".Pages.araba" ></activity>

        <activity android:name=".Pages.araba" />
        <activity android:name=".Pages.anaSayfa" />
        <activity android:name=".Pages.giris" />
        <activity android:name=".Pages.kayit" />
        <activity android:name=".Pages.karsilama" />
        <activity android:name=".Pages.baslangic">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>